This file produces a useful table for us to match country names on. FIDE's Chess olympiad website has these codes which we will export to a .csv file after some webscraping.

In [10]:
import pandas as pd
from bs4 import BeautifulSoup 
import bs4
import urllib.request
import requests
import os

In [2]:
def get_soup_OP(url):
        req = requests.get(url)
        return BeautifulSoup(req.content,'html.parser')  
    
def comment_text(id):
    return(id.text)

def td(soup):
    return(soup.find("td", attrs = {"class": "let"}))

def digit_remove(ls):
    return(''.join([i for i in ls if not i.isdigit()]))
    
def map_list(function, ls):
    return(list(map(function, ls)))

In [3]:
url = "https://www.olimpbase.org/help/help41.html"
soup = get_soup_OP(url)

In [6]:
country_code = map_list(comment_text, soup.find_all("td", attrs = {"class": "ce"}))
country = map_list(digit_remove, map_list(comment_text, map_list(td, soup.find_all("tr")[1:])))
FIDE  = pd.DataFrame([country_code, country]).transpose()
FIDE.columns = ["Code", "Country"]
FIDE.head(10)

  Code               Country
0  AFG           Afghanistan
1  ALB               Albania
2  ALG               Algeria
3  AND               Andorra
4  ANG                Angola
5  ANT     Antigua & Barbuda
6  ARG             Argentina
7  ARM               Armenia
8  ARU                 Aruba
9  ASE  ASEAN (what's this?)

In [13]:
FIDE.to_csv(r"C:\Users\Anuj\Documents\GitHub\FIDE\Chess Scripts\Step 3 - FIDE Country Codes\Country Data\FIDE_codes.csv", 
            sep=',', encoding='utf-8', index = False)